.contacts__list {
    list-style: none;
    /* margin-left: 10px; */
    margin-top: 30px;
    /* padding-left: 10px; */
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    color: black;
}

.contacts__item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 5px;
}

.contacts__item:not(:last-child) {
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(40, 37, 37);
}

.btn {
    font-family: sans-serif;
    cursor: pointer;
    background-color: rgba(81, 41, 200, 0.212);
    line-height: 1.62;
    border: transparent;
    margin-left: 20px;
    padding: 6px 22px;
    width: 80px;
    border-radius: 5px;
    color: black;
    border: 1px solid black;
}

.btn:hover,
.btn:focus {
color: white;
background-color: red;
box-shadow: 0px 3px 1px rgb(0 0 0 / 10%), 0px 1px 2px rgb(0 0 0 / 8%),
    0px 2px 2px rgb(0 0 0 / 12%);
}
